// variaveis

$primary: #326dee;
$secondary: #1ac886;
$error: #d32752;
$info: #f6c31c;

// espaçamento
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// bordas
$base-thickness: 1px;
$base-border-radius: 20px;