<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </nav>

    <div class="404 content">
        <h2>SORRY</h2>
        <p>Page not found</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>