<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, adipisci nam cum animi ab, doloribus sequi odit itaque ex nesciunt consequatur iure a rem officia ea, aliquam distinctio nobis ratione?
        Aliquid placeat, odio voluptatibus repellat rerum provident vero eveniet amet autem sit quibusdam tempore voluptate dignissimos quia minus. Quis labore eius temporibus est nostrum dolorem facere aliquam voluptate magni odio.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>